body{
    font-family: Arial;
    margin:0;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    background:#003366;
    color:white;
    padding: 1%;
    align-items: center;
}

nav{
    padding:10px;
}


nav a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
    text-align: center;
    
}

nav a:hover {
    background-color: rgb(234, 189, 107);
    padding: 10px;
    transition: 0.3s;
}

.box{
    display: flex;
}

